{% extends 'bootstrap/base.html' %}
{% import 'macros.html' as macro %}
{% block navbar %}
{% include 'navbar.html'%}
{% endblock %}

  {% block content %}
    <div class="container">
        <p>welcome to pitch app </p>
      <h3 class="title">Pitch Categories</h3>
      <br>
      
      
      <div class="tab-content">
        <div id="Love_Pitch" class="container tab-pane active"><br>
          {{ macro.display(Love_Pitch) }}
          
        </div>
        <div id="Job_Pitch" class="container tab-pane fade"><br>
          {{ macro.display(Job_Pitch) }}
        </div>
        <div id="Promotion_Pitch" class="container tab-pane fade"><br>
          {{ macro.display(Promotion_Pitch)}}
        </div>
        <div id="Motivational_Pitch" class="container tab-pane fade"><br>
          {{ macro.display(Motivational_Pitch) }}
        </div>
        
      </div>
    </div>
  {% endblock %}